.sky-crop {
	position: relative;
	overflow: hidden;

	&--contain {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.sky-crop__image {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	will-change: transform;

	&:first-of-type {
		position: relative;
	}

	&--width {
		width: 100%;
	}

	&--height {
		height: 100%;
	}

	&--cover {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
		font-family: 'object-fit: cover; object-position: center center;';
	}

	&--contain {
		max-width: 100%;
		max-height: 100%;
	}
}
